@import "tailwindcss";

* {
    font-family: "Roboto Mono", monospace !important;
}

.overlap {
    margin-left: -15px; /* Adjust this to control the degree of overlap */
    z-index: 10; /* Ensure the overlapping cards are stacked on top */
}