@import "tailwindcss";

* {
    font-family: "Roboto Mono", monospace !important;
}

.overlap {
    margin-left: -10px; /* Adjust to control overlap */
    z-index: 1;
    transform: translateX(-10px); /* Added to make sure the cards are visually translated */
}