# Build folders
/build/
/out/
/Debug/
/Release/

# VSCode and Visual Studio
.vscode/
.vs/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
*.exe
*.dll
*.so
*.dylib

# Logs and databases
*.log

# vcpkg artifacts
vcpkg_installed/
vcpkg/

# User-specific config
*.user
*.suo
*.userosscache
*.sln.docstates

# Mac/Linux
.DS_Store

# Windows backup files
Thumbs.db
ehthumbs.db
desktop.ini

# Git
!.gitignore


